* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

.container {
  max-width: 1366px;
  width: 100%;
  margin: 0 auto;
}

header {
  background-color: #CCC;
  padding: 10px;
  max-width: 100%;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 54px;
}

header h2,
header p,
header li {
  padding: 4px;
}

header li {
  display: inline;
}

header li a {
  text-decoration: none;
  color: #fff;
  border-bottom: 2px solid transparent;
}

header li a:hover {
  border-bottom: 2px solid #000;
}

section.about {
  display: grid;
  grid-template-columns: 30% 70%;
  padding: 20px;
  background-color:#CCC;
  margin-bottom: 15px;
}

section > h2 {
  border-bottom: 2px solid firebrick;
  margin-bottom: 3px;
}

.about img {
  width: 100%;
}

.about p {
  font-size: 1.5em;
}

.aboutText {
  margin-left: 10px;
}

.products {
  background-color: #CCC;
  padding: 24px;
  margin: 10px 0 10px;
}

.products > p{
    padding: 10px;
}

.produto {
  display: grid;
  grid-template-columns: repeat(4, 24.5%);
  column-gap: 1%;
}

.produto button,
.produto img {
  width: 100%;
}

.produto button {
  border: none;
  height: 25px;
  background-color: cornflowerblue;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.produto h3,
.produto p {
  text-align: center;
  padding: 5px;
  margin-bottom: 3px;
}
