*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header{
    background-color: red;
    padding: 10px;
    max-width: 100%;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 54px;
}

header h2, header p, header li{
    padding: 4px;
}

header li {
    display: inline;
}

header li a{
    text-decoration: none;
    color: #FFF;
    border-bottom: 2px solid transparent;
}

header li a:hover{
    border-bottom: 2px solid #000;
}

.containerGeral{
    display: grid;
    grid-template-columns: 80% 20%;
}

section.about{
    padding: 20px;
    background-color: beige;
    display: flex;
    
}

.about img{
 margin-right: 10px;
}

.about p{
    font-size: 1.5em;
}

.products{
 background-color: aquamarine;
 padding: 36px;  
 margin: 10px 0 10px;
}


.produto{
    display: grid;
    grid-template-columns: repeat(3, 32.6%);
    column-gap: 1%;
    row-gap: 5%;
}

